nav {
    opacity: 1;
    height: 90px;
    transition: none;
}
.header {
    opacity: 1;
    height: 90px;
    transition: transform 1.5s ease-out;
}
.header a {
    opacity: 1;   
    transition: none;
}
#footer-content {
    opacity: 1;
    height: 50%;
    animation: none;
}
@media screen and (max-width: 810px) {
    nav {
        width: 110%;
        opacity: 1;
        height: 18vh;
    }
    .header {
        transform: translateX(1800px);
    }
    #bottom-border {
        width: 100%;
        animation: none;        
    }   
    #hamburger {
        left: 50px;
    }
    footer {
        width: 110%;
        position: fixed;
        bottom: 0;        
    }
}
