nav {
    opacity: 1;
    height: 90px;
    transition: none;
}
.header {
    opacity: 1;
    height: 90px;
    transition: transform 1.5s ease-out;
}
.header a {
    opacity: 1;   
    transition: none;
}
#footer-content {
    opacity: 1;
    height: 50%;
    animation: none;
}
@media screen and (max-width: 810px) {
    nav {
        border-bottom: 4px solid black;     
    }
    .header {
        transform: translateX(1800px);
    }
    #hamburger {
        left: 50px;
    }
}
