:root, * {
   /* each circle is 15px in width, plus a 10px margin on each side = 35px per circle */
    --circles: 7;
    --images: 7;
    --percentage: calc(100% / var(--images));
    --circlesContainerWidth: calc(35 * var(--circles) + 20px);
    --circlesContainerHeight: 50px;
    --imageTotalWidth: 490px;
    --imageWidth: 450px;
    --imageHeight: 300px;
    --imageTotalHeight: 390px;    
    --containerWidth: calc(var(--imageTotalWidth) + 146px);
    --containerHeight: calc(var(--imageTotalHeight) + var(--circlesContainerHeight));      
    --contentContainerWidth:  calc(var(--containerWidth) + 110px)
}
nav {
    opacity: 1;
    height: 90px;
    transition: none;
}
.header {
    opacity: 1;
    height: 90px;
    transition: transform 1.5s ease-out;
}
.header a {
    opacity: 1;   
    transition: none;
}
#footer-content {
    opacity: 1;
    height: 50%;
    animation: none;
}
#page-container-portfolio {  
    padding-bottom: 46vh;
    min-width: var(--containerWidth);
}
.content-container#content-container-portfolio {
    height: var(--containerHeight);          
}
#slides-container, #slides-container::after, #slides-reel,
#circles-container {
   transform: translateY(-30px); 
   animation: drop-in 1.2s ease-out 0.6s 1 forwards;
   opacity: 0;
}
#circles-container {
    animation: drop-in 1.2s ease-out 0.1s 1 forwards;
}
@keyframes drop-in {
    100% {
    transform: translateY(0px);
    opacity: 1;
    }
}
#container-div {
    position: absolute;
    top: 0px;
    left: calc((100vw - var(--containerWidth)) / 2 );
    width: var(--containerWidth);    
    height: var(--containerHeight);
    z-index: 3;
    text-align: center;
    border: 2px solid red;
    box-sizing: content-box;    
    margin-bottom: 24vh;    
}
#slides-container {
    border: 7px solid rgba(255, 0, 255, 0.4);
    outline: solid 2px black;
    /* positions the outline INSIDE the border: */
    outline-offset: -10px;
    border-radius: 3px;
    height: var(--imageTotalHeight);
    width: var(--imageTotalWidth);
    z-index: 4;    
    position: relative;
    overflow: hidden;      
    top: 0px;
    left: 65px;  
    box-sizing: content-box;  
    background-color:  rgb(245, 234, 245);
    background-color: thistle;
}
/* an empty element that enables the slide container to have a
double border: */ 
#slides-container::after {
    width: calc(var(--imageTotalWidth) - 16px);
    border: 2px solid black;
    display: block;
    height: calc(var(--imageTotalHeight) - 16px);
    content: "";
    z-index: -1;
    position: absolute;
    top: 6px;
    left: 6px;   
}
/* to prevent overlapping of button and container when screen
size is reduced: */
#slides-reel {
    height: var(--imageTotalHeight);
    width: calc(var(--imageTotalWidth) * var(--images));
    z-index: 5;
    position: absolute;
    left: -0px;   
    border: none;    
    box-sizing: content-box;    
 } 
/* #slides-reel.animated {
    animation-name: move-slides;
    animation-duration: 21s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(2, jump-none);
    animation-direction: normal;    
    animation-play-state: running;
}
#slides-reel.animated.paused {
    animation-play-state: paused;
}
 // The issue with this animation is that it always starts from the beginning.
// With JS, you can stop and start the ani at any point.

 @keyframes move-slides {
    0% {
        left: 0px;
    }    
    17% {
        left: calc(var(--imageTotalWidth) * -1);
    }    
    34% {
        left: calc(var(--imageTotalWidth) * -2);
    }
    51% {
        left: calc(var(--imageTotalWidth) * -3);
    }
    67% {
        left: calc(var(--imageTotalWidth) * -4);
    }
    84% {
        left: calc(var(--imageTotalWidth) * -5);
    }
    100% {
        left: calc(var(--imageTotalWidth) * -6);
    }
}*/
.segment.visible .github-link img {
    animation: jiggle 3s linear 700ms 1;
}
.github-link img {
    width: 10%;
    height: 46px;
    margin-top: 14px;
    position: relative;
    right: 40%;
    background-color: fuchsia;
    border-radius: 50%;
    border: 3px solid cornflowerblue;    
}
@keyframes jiggle {
    0% {
        transform: rotate(10deg);     
    }
    5% {
        transform: rotate(-10deg);        
    }
    10% {
        transform: rotate(10deg);        
    }
    15% {
        transform: rotate(-10deg);        
    }
    20%, 100% {
        transform: rotate(0deg);        
    }
}
.github-link img:hover {
    background-color: cornflowerblue;
    transform: scale(1.1);
}
img.screenshot {
    width: var(--imageWidth);
    height: var(--imageHeight);     
    z-index: 7;
    object-fit: cover;
    object-position: 0 0;
    border: 2px solid black;
    position: relative;  
    left: 0px;
    top: 8px;
}
.segment {
    float: left;
    z-index: 6;  
    width: var(--imageTotalWidth);
    height: var(--imageTotalHeight); 
}
.segment:nth-of-type(3) a:nth-of-type(2) img {
    object-position: 50% 0;
}
button.arrow {
    all: unset;
    position: absolute;
    z-index: 4;
    height: 35px;
    width: 35px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 5px;    
    background-color: rgba(211, 255, 251, 1);
    border-radius: 3px;
    border: 1px solid black;
    color: fuchsia;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    outline: 1px solid fuchsia;    
    top: 50%;    
    translate: 0px -1000px;    
}
button.arrow:active, button.arrow:focus {
    box-shadow: 3px 3px 10px 8px rgba(219, 237, 248, 0.5);
}
@keyframes arrow-pulse {
    15% {
        transform: rotate(5deg);
    }
    30% {
        transform: rotate(-5deg);
    }
    45% {
        transform: rotate(5deg);
    }
    70% {        
        transform: rotate(-5deg);
    }   
}
#forward-arrow {
    right: 0px;    
    animation: fall 0.4s ease 1.9s 1 forwards; 
}
#back-arrow {
    left: -3px; 
    animation: fall 0.4s ease 2.3s 1 forwards;  
}
@keyframes fall {
    70% {
        translate: 0px 0px;
    }
    85% {
        translate: 0px 20px;
    }
    100% {
        translate: 0px 0px;
    }
}
#circles-container {    
    position: absolute;   
    text-align: center;
    bottom: 5px;
    border: 1px solid transparent;
    left: calc((100% - 265px) / 2);
    width: var(--circlesContainerWidth);
    margin-top: 35px;
}
.circle {
    margin: 0 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: cornflowerblue;
    border: 1px solid black;
    transition: all 300ms;
}
.circle.selected {
    background-color: rgb(211, 255, 255);
    box-shadow: 1px 1px 18px 0px rgba(255, 0, 255, 1);
    border: 1px solid black;
}
section#controls-container {
    z-index: 1;
    position: absolute; 
    top: 25%; 
    left: calc((100vw - var(--containerWidth)) / 3.1 );
    bottom: 75vh;     
    background-color: transparent;       
    perspective: 500px;    
    animation: bloom 0.6s linear 2.8s 1 forwards;
    opacity: 0;
    width: clamp(80px, 8vw, 9vw);
    height: 70px;
    transform: scale(0);
}
@keyframes bloom {
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
div#controls-inner {       
    position: relative;
    width: 100%;
    height: 100%;    
    text-align: center;  
    left: 0;
    top: 0;
 }    
div.controls {  
    position: absolute;
    inset: 0;  
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;  
}
div#controls-inner.clicked {   
    animation: flip-button 2.5s linear 0.1s 1 normal forwards;
}
@keyframes flip-button {
    20%, 100% {
        transform: rotateY(180deg);
        transform-style: preserve-3d;        
    }
}
div#controls-inner.paused {
    animation: flip-back 0.6s linear 0s 1 reverse forwards; 
}
@keyframes flip-back {
    100% {
        transform: rotateY(180deg);
        transform-style: preserve-3d;        
    }
}
div.controls {
    width: 100%;     
    height: 100%;     
}
div.controls.back {
    transform: rotateY(180deg);
}
div.controls button {
    width: 100%;
    height: 100%;
    border-radius: 35px;
    border: none;
    outline: none;   
    font-variant: small-caps; 
    font-size: 1rem;  
    font-family: "banger";  
    letter-spacing: 1px;    
    border: 2px solid black;
    padding: 1px;
    box-sizing: content-box;
    position: relative;    
}
div.controls button:hover {
    outline: 4px solid rgba(255, 0, 255, 0.3);
    animation: outline-pulse 0.6s linear 0.1s 3 forwards;  
}
@keyframes outline-pulse {
    100% {
        outline: 4px solid transparent;
        outline-offset: 5px;
    }
}
#start {
    background-color: cornflowerblue;
}
#pause {
    background-color: fuchsia;
    left: -4px;
}
button {
    cursor: pointer;
}
@media screen and (max-width: 1000px) {
    section#controls-container {
        margin-left: 0px;       
    }
}
@media screen and (max-width: 810px) {
    * {
    --imageTotalWidth: 400px;
    --imageWidth: 360px;
    --imageHeight: 240px;
    --imageTotalHeight: 330px;    
    }
    nav {
        width: 110%;
        opacity: 1;
        height: 18vh;
    }
    .header {
        transform: translateX(1800px);
    }
    #hamburger {
        left: 50px;
    }
    .content-container#content-container-portfolio {        
        width: var(--contentContainerWidth);    
        left: calc((100vw - var(--contentContainerWidth)) / 2);      
    }
    #container-div {
       /* border: 2px solid rgb(61, 168, 34); */
       left: calc((var(--contentContainerWidth) - var(--containerWidth)) / 2);      
    }
    section#controls-container {
        left: 20px;
    }
    footer {
        width: calc(var(--contentContainerWidth) + 150px);
        width: 110%;
        position: fixed;
        bottom: 0;        
    }
}
/*tablet dimensions: */
@media (max-width: 810px) and (min-height: 1000px) {
    /* original size: */
    * {
    --imageTotalWidth: revert;
    --imageWidth: revert;
    --imageHeight: revert;
    --imageTotalHeight: revert;  
    }
    nav {
        height: 14vh;
        animation: none;
    }    
    #content-container-portfolio {
        top: 20vh;
    }
    #curtain {
        top: 14vh;       
        height: 86vh;        
    }
    .curtainItem {
        font-size: 1.3rem;         
    }
    .curtainMenu li {
        font-size: 1.1rem;
    }
    #closeBtn {
        top: 10px;
        left: 10px;
        width: 38px;
        height: 35px;
    }
    .btnStripe {
        width: 90%;
    }
}
@media (max-width: 636px) {
    .content-container#content-container-portfolio {       
        left: 0;      
    }
}
@media  screen and (max-width: 450px) and (max-height: 950px) {
    * {
        --circlesContainerWidth: calc(32 * var(--circles) + 20px);
    }
    nav {
        height: 21vh;
        min-height: 95px;              
    }
    #curtain {
        top: 21vh;       
        height: max(79vh, calc(100% - 21vh));                    
    }
   #content-container-portfolio {
       top: 38vh;
       border: 2px solid green;
   } 
   #container-div {
       left: 0;
   }
   #slides-container {
       left: 0;
   }
   button.arrow {
       top: -22%;
   }
   #back-arrow {
       left: 5%;
   }
   #forward-arrow {
    right: 30%;
   }
   section#controls-container {
       top: -27%;
       left: 25%;
   }
   #circles-container {
       left: 13%;
   }
   .circle {
    width: 10px;
    height: 10px;
    } 
   .footer {
       min-width: 110vw;
   }       
}
@media (max-width: 450px) and (max-height: 790px) {
    #content-container-portfolio {
        top: 34vh;
    }  
    footer {
        height: 14vh;
    }
    .footer {
        height: 11vh;
    }
}
@media screen and (max-height: 450px) {
    * {
        --imageTotalWidth: 400px;
        --imageWidth: 360px;
        --imageHeight: 240px;
        --imageTotalHeight: 330px;
    }
    nav, .header {          
        opacity: 1;
        height: 18vh;
        min-height: 70px;
        animation: none; 
    }    
    .circle {
        width: 10px;
        height: 10px;
    }     
}  